@use "../../../../scss/mixins";

// FYI there is also `_main_screen.scss`.

:global(.main-screen.small-screen.chat-view-open) {
  .workspaceNavSection {
    display: none;
  }
  .avatarCognitiveSection {
    display: none;
  }
}

:global(.main-screen.small-screen:not(.chat-view-open)) {
  .chatAndNavbar {
    display: none;
  }
  .avatarCognitiveSection {
    display: none;
  }
}

@mixin navbar {
  height: var(--navBarHeight);
  background-color: var(--navBarBackground);
  color: var(--navBarText);
  border-bottom: var(--outlineProperties);
  // Just in case the "main" section below the navbar decides
  // to do something like `height: 100%` instead of `flex-grow: 1`.
  flex-shrink: 0;
}

// LHS: Workspace Navigation (1/3)
.workspaceNavSection {
  display: flex;
  flex-direction: column;
  width: 0;
  flex-grow: 1;
  min-width: 260px;
  max-width: 360px;
  overflow: hidden;
  border-right: 1px solid rgba(99, 102, 241, 0.1);
}

// Center: Chat messages (1/3)
.chatAndNavbar {
  // Otherwise e.g. the contents of the gallery view
  // (tabs, specifically) will refuse to shrink,
  // and this element (`.chatAndNavbar`) will overflow the parent.
  width: 0;
  flex-grow: 1.5;

  display: flex;
  flex-direction: column;

  .chatNavbar {
    @include navbar;
    display: flex;
    align-items: center;
    padding: 0px;

    .chatNavbarHeadingWrapper {
      // Otherwise it will refuse to truncate the chat name
      // and will make the parent overflow instead.
      width: 0;
      flex-grow: 1;
    }

    :global(.navbar-heading--button) {
      @include mixins.button-reset;
    }

    :global(.navbar-heading) {
      // See `.chatNavbarHeadingWrapper`.
      max-width: 100%;

      display: flex;
      align-items: center;
      padding-left: 5px;
      margin-right: 0px;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 18px;
      font-weight: bold;
      overflow: hidden;
    }

    :global(.views) {
      margin-right: 15px;
      display: flex;
      height: 100%;
    }

    :global(.navbar-button) {
      padding: 0;
      width: 40px;
      border-radius: 0;

      &:hover {
        background-color: var(--navBarButtonHover);
      }
    }

    :global(#three-dot-menu-button) {
      height: 40px;
      border-radius: 100%;
    }

    .threeDotMenuContainer {
      margin-left: 0;
      margin-right: 3px;

      &.hidden {
        opacity: 0;
        pointer-events: none;
      }
    }

    .chatTitleContainer {
      margin-left: 7px;
      overflow: hidden;
    }
  }
}

// RHS: Avatar + Cognitive Stream (1/3)
.avatarCognitiveSection {
  display: flex;
  flex-direction: column;
  width: 0;
  flex-grow: 1;
  min-width: 280px;
  max-width: 420px;
  overflow: hidden;
}

.visuallyHidden {
  display: none;
}
