# Cloudflare API Token
CLOUDFLARE_API_TOKEN=""

# Cloudflare Account ID
CLOUDFLARE_ACCOUNT_ID=""

# Password to protect the web UI
WEB_PASSWORD=""

# DeltaChat Bot Account Email
# Use a dedicated email address for the bot
# Recommended: use a chatmail provider like nine.testrun.org
DC_EMAIL=""

# DeltaChat Bot Account Password
DC_PASSWORD=""
